#navbar{
  background-color: #fbf9f9;
  padding: 10px 30px;

}
.nav-link:hover{
  font-weight: 600;
  color: #f29632;

}

.link-sm-device{
  display: none;
}
.offcanvas-fullwidth {
  width: 100% !important;
  max-width: 100% !important;
  }
  
  .btn-primary{
  background-color: #f29632 !important;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  color: white;
  }
  
  .btn-primary:hover{
  background-color: #efaf6ab9 !important;
  border: none;
  color: black;
  color: white;
  }

  .btn-outline-primary{
    border-color: #f29632;
    color: #f29632;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 600;
  }

  
  .btn-outline-primary:hover{
    background-color: #f29632 !important;
    color: white;
    border-color: #f29632;

  }




.text-primary{
color:#efaf6a;
}

.badge-icon{
background-color:#efaf6a !important ;
}

p{
  margin: 0;
}


/*catalogue*/
.catalogue{
  margin: 20px 0;
  
}
.catalogue .section-header{
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
}
/*hero section*/

.hero-section .cover-img{
    width: 100%;
    height:75vh;
    object-fit: cover;
    background-color: #f29632;
}

.horizontal-scrollable{
    display: flex;
      overflow-x: auto; /* Enable horizontal scrolling */
      width: 100%; /* Set the desired width */
      margin:10px 0;
      padding-left: 30px;
   }
  
   .horizontal-scrollable::-webkit-scrollbar {
    display: none;
  }
  /*firefox*/
  .horizontal-scrollable{
    scrollbar-width: none;
  }
  
  /*edge explorer*/
  .horizontal-scrollable{
    -ms-overflow-style: none;
  }
  .product-card{
    display: inline-block;
    margin: 10px 35px 10px 0;
    max-width: 180px;
  }
   .product-card .inner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
   }
   .product-card .text-content{
    text-decoration: none;
   }
   .product-card .action-content{
    cursor: pointer;
   }
  .product-card .product-img{
    width: 180px;
    height:230px;
  }

  .product-card .title{
    max-width: 180px;
    font-size: 20px;
    font-weight: 600;
    color: #6f3b07 ;

  }

  .product-card .add-cart-btn{
    border-radius:0;
    width: 100%;
    padding: 3px 8px;
    margin-top: 10px;
    font-size: 15px;
    
  }

  .product-card .price{
    color: #743d07 ;
  }
   /*main category*/
   .major-product-categories{
    display: flex;
    justify-content: center;
    margin: 30px 0;
    padding: 0 30px;
   }

  /*category-card*/
  .category-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-right: 25px;
   
  }

  .category-card:hover{
    color: #f29632;
    font-weight: 600;
  }
  

  .category-card .category-img{
    max-width: 75px;
    width: 100%;
  }
  /*testimony*/
  
  .testimonial-card{
    background-color: white;
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    height: 230px;
    padding: 20px;
    border-radius: 4px;
    margin-right: 20px;
  }
  

  .testimonial-section{
    padding: 30px 0;
    background-color: #f29632;

  }

  .testimonial-card .profile-icon-img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }

  .testimonial-card .user-profile{
    display: flex;
    margin: 20px 5px;
    
  }

  .testimonial-card .desc-container{
    display: flex;
    align-items: flex-start;
  }

  .testimonial-card .desc{
    text-align: justify;
  }
  .testimonial-card .username{
    font-weight: 600;
  }

  /*product page */
  .breadcrumb-nav{
    display: flex;
    font-size: 20px;
    gap:8px;
    align-items: center;
    margin:20px 0

  }

  .breadcrumb-nav .nav-route{
    text-decoration: none;
    color: black ;
  }

  .breadcrumb-nav .route-icon{
    color: #f29632;
  }

  .product-page-container{
    padding: 30px;
  }

  .product-page-container .product-container{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: flex-start;

  }

  .product-container .product-images-container{
    width: 50%;
  }


  .product-page-container .active-product-img{
    max-width: 400px;
    width: 60%;
  }
  .product-images-container .alternative-imgs{
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 100%; /* Set the desired width */
    margin: 20px 0 ;
  }
  .product-images-container .alternative-imgs::-webkit-scrollbar{
    display: none;
  }

  /*firefox*/
  .product-images-container .alternative-imgs::-webkit-scrollbar{
    scrollbar-width: none;
  }
  
  /*edge explorer*/
  .product-images-container .alternative-imgs::-webkit-scrollbar{
    -ms-overflow-style: none;
  }
  
  .product-images-container .non-active-product-img{
    width: 15%;
    margin-right: 10px;
  }

  .product-container .product-content .title{
  font-size: 30px;
  font-weight: 600;
  }

  .product-container .product-content .pricing{
    font-size: 25px ;
    font-weight: 600;
  }

  .product-container .product-content .pricing .num{
  font-size: 32px;
  }
  .product-container .product-content .desc{
     font-weight: 20px;
  }
  .product-container .variants{
  margin: 20px 0;
  }
  .product-container .variants .btn{
    margin-right: 10px;
  }

  .product-container .product-content .quantity{
    display: flex;
   
  }
  .quantity-container .quantity .input-quantity{
     border: 0;
     width:50px;
     text-align: center;
  }

  .quantity-container .quantity .adjust-quantity-btn{
   
    border-radius: 3px;
  }

  .product-container .product-content .product-form{
    margin: 50px 0;
  }

  .product-content .action-btn-container {
    display: flex;
    margin: 30px 0;
    align-items: center;

  }
  .wishlist-icon{
    cursor: pointer;
  }

  input[type="number"]::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  
  /* Hide the up arrow */
  input[type="number"]::-webkit-inner-spin-button {
    display: none; 
  }
  
  /* Hide the down arrow */
  input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  /*horizontal card*/
  .horizontal-card{
    display: flex;
    gap:30px;
    align-items: center;
    background-color: #efaf6a27;
    padding: 20px;
    border-radius: 4px;
    margin: 20px 0;
    justify-content: space-between;
  }

  .horizontal-card .prod-img{
    width: 70px;
  }

  .horizontal-card .quantity{
    display: flex;
    gap:20px;
  }

  .horizontal-card .quantity .form-select{
    border: none;
  }

  /*account*/
  .submit-btn{
    font-weight: 600;
    border-radius: 20px;
    padding: 20px;
    background-color: #f29632;
  }

  /*category-pager*/
  .category-page-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
  }


  .category-page-container .filter-menu{
    width: 40%;
    padding: 20px;
    background-color: #f295320e;
    border-radius: 5px;

  }

  .category-page-container .action-group{
    display: flex;

  }

  .category-page-container .action-group .apply-btn{
    width: 70%;
  }

  .filter-bottom-tab .content-body{
    padding: 20px;
  }
  .filter-menu-btn{
    display: none;
  }

  /*account form*/
  .form-check-input:checked{
  background-color: #f29632;
  border: none;
  }


  .account-setup-container  .submit-btn{
    width: 150px;
    margin: 5px 0;
    border-radius: 10px;
    color:white;
    padding: 18px 25px;
    /* padding: 15px; */
  }

  .account-setup-container  .submit-btn:hover{
     background-color: #f58d1e !important;
     color: white !important;
     border-color:#ff8c10 !important ;
    /* padding: 15px; */
  }

  .account-setup-container .input-form{
    padding: 8px 20px;
  }

  .account-setup-container .alternative-link-container{
    display: flex;
  }
  .account-setup-container .alternative-link{
    text-decoration: none;
    color:#f29632;
  }

  .account-setup-container .alternative-link:hover{
    font-weight: 600;
  }

  .account-setup-container .header{
    font-weight: 600;
    font-size: 18px;

  }


  .loader {
    width: 80px;
    aspect-ratio: 4;
    --c:#f5ae49 90%,#0000;
    background: 
      radial-gradient(circle closest-side at left  6px top 50%,var(--c)),
      radial-gradient(circle closest-side                     ,var(--c)),
      radial-gradient(circle closest-side at right 6px top 50%,var(--c));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: l4 1s infinite alternate;
  }
  @keyframes l4 {
      to{width:25px;aspect-ratio: 1}
  }

  .login-letter-avatar{
    font-size: 15px;
    font-weight: 600;
    color:white;
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #efaf6a ;
    cursor: pointer;

  }
  .login-letter-avatar::after {
    display: none; 
  }
  .dropdown-avatar .drop-menu {
   min-width: 2rem;
    
  }


  /*footer*/
  .footer{
   
    display: flex;
    padding: 50px 30px;
    justify-content: space-between;
     font-size: 20px;
     background-color: #fbf9f9;
    
  }

  .footer .header{
    font-weight: 600;
    margin-bottom: 10px;
  }

  .footer .branding .motto{
    font-style: italic;
    color: #f29632;
   
  }
  .footer .social-icons-container{
    display: flex;
    gap: 10px;
  }

  .footer .social_icon{
  font-size: 40px;
  color: #f29632;
  }


/*media query*/
@media screen and (max-width: 640px) {

.footer{
  flex-direction: column;
}
.footer .inner-container{
  margin: 20px 0;
}
}

@media screen and (max-width: 500px) {
.category-card .category-img{
  max-width: 45px;
  width: 100%;
}  
}

@media screen and (max-width: 810px) {
  .product-page-container .product-container{
  flex-direction: column;
  
  }

  .product-container .product-images-container{
    width: 100%;
  }

  .hero-section .cover-img{
    height:40vh;

}
 
  }

  @media screen and (max-width:992px) {
    .top-right-nav-content{
      visibility: hidden;
    }
    .link-sm-device{
      display: block;
    }
}

@media screen and (max-width:950px) {
  .category-page-container .filter-menu{
   display: none;
  }
  .filter-menu-btn{
    display: block;
    }
  
}











